<!--<div class="w-24 h-24">
        <canvas id="myChart"></canvas>
      </div>
      Calorias 
      Grasas data[0].foodNutrients
      Proteinas
      Carbohidratos
    -->

<form action="POST" id="searchFood">
  <input
    class="focus:outline-none focus:bg-gray-200 bg-gray-100 px-8 py-2 w-1/2 mx-4 my-4 placeholder-gray-200::placeholder rounded"
    placeholder="Busca tu alimento favorito"
    type="text"
    id="name"
  />
  <button
    type="submit"
    class="focus:outline-none bg-indigo-300 px-8 py-2 rounded"
  >
    Buscar
  </button>
</form>


<div class="flex flex-wrap md:mx-4">
  <div class="grid lg:grid-cols-1 mt-10 gap-4 md:w-1/2 h-44" id="dataFood"></div>
</div>
