<form action="POST" id="searchFood" class="relative top-5 w-full md:w-2/5">
  <input
    class="transition ease-in-out focus:outline-none focus:shadow-md focus:bg-gray-200 bg-gray-100 px-8 py-2 w-full placeholder-gray-200::placeholder rounded"
    placeholder="Busca tu alimento favorito"
    type="text"
    id="name"
  />
  <button
    type="submit"
    class="absolute focus:outline-none bg-none inset-y-2 right-4"
  >
    <svg
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      viewBox="0 0 24 24"
      class="w-6 h-6"
    >
      <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
    </svg>
  </button>
</form>

<div class="flex flex-wrap md:mx-4">
  <div
    class="grid lg:grid-cols-1 mt-4 gap-4 w-full md:w-2/5"
    id="dataFoods"
  ></div>
</div>
