<div
  class="sm:w-1/2 md:w-96 bg-gray-200 px-8 py-4 m-auto mt-16 mb-16"
  id="block"
>
  <form class="" action="POST" id="signInForm">
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
      </svg>
    </div>
    <input
      class="w-full p-4 mt-4 bg-gray-100 rounded-sm outline-none"
      type="email"
      name=""
      id="login-email"
      placeholder="Email"
    />
    <input
      class="w-full p-4 mt-4 bg-gray-100 rounded-sm outline-none"
      type="password"
      name=""
      id="login-password"
      placeholder="Password"
    />
    <input
      class="w-full p-4 mt-4 bg-green-600 text-white cursor-pointer outline-none rounded"
      type="submit"
      value="Iniciar"
      id="button-Send"
    />
  </form>
</div>
