<div
  class="sm:w-1/2 md:w-96 bg-gray-200 px-8 py-4 m-auto mt-16 mb-16"
  id="block"
>
  <form class="" action="POST" id="signInForm">
    <input
      class="w-full p-4 mt-4 bg-gray-100 rounded-sm outline-none"
      type="email"
      name=""
      id="login-email"
      placeholder="Email"
    />
    <input
      class="w-full p-4 mt-4 bg-gray-100 rounded-sm outline-none"
      type="password"
      name=""
      id="login-password"
      placeholder="Password"
    />
    <input
      class="w-full p-4 mt-4 bg-green-600 text-white cursor-pointer outline-none rounded"
      type="submit"
      value="Iniciar"
      id="button-Send"
    />
  </form>
</div>
