<div class="md:w-96 bg-gray-200 px-8 py-4 m-auto mt-8">
  <form class="" action="POST" id="loginForm">
    <input
      class="w-full p-4 mt-4 rounded-sm bg-gray-100 outline-none"
      type="text"
      name=""
      id="name"
      placeholder="Nombre"
    />
    <input
      class="w-full p-4 mt-4 bg-gray-100 rounded-sm outline-none"
      type="text"
      name=""
      id="lastname"
      placeholder="Apellido"
    />
    <input
      class="w-full p-4 mt-4 bg-gray-100 rounded-sm outline-none"
      type="email"
      name=""
      id="email"
      placeholder="Email"
    />
    <input
      class="w-full p-4 mt-4 bg-gray-100 rounded-sm outline-none"
      type="password"
      name=""
      id="password"
      placeholder="Password"
    />
    <input
      class="w-full p-4 mt-4 bg-gray-100 rounded-sm outline-none"
      type="password"
      name=""
      id="confirmPassword"
      placeholder="Confirma Password"
    />
    <input
      class="w-full p-4 mt-4 bg-green-600 text-white cursor-pointer outline-none rounded"
      type="submit"
      value="Crear Cuenta"
      id="buttonSend"
    />
  </form>
</div>
